@charset "UTF-8";
:root {
  --primary-color: #3686a0;
  --primary-color-bg: #3686a0cc;
  --nav-scroll-height: 70px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, Arial, Tahoma, Serif;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: all 350ms ease;
  background: white;
}
.nav-header.nav-scroll-down {
  height: var(--nav-scroll-height);
  transform: translateY(calc(var(--nav-scroll-height) * -1));
}
.nav-header.nav-scroll-up {
  height: var(--nav-scroll-height);
  transform: translateY(0);
  box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
}
.nav-header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
}
.nav-header .logo-container {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  overflow: hidden;
}
.nav-header .logo-container img {
  height: 100%;
}
.nav-header .nav-div .menu-container {
  width: 42px;
}
.nav-header .nav-div.nav-sm {
  display: block;
}
.nav-header .nav-div.nav-lg {
  display: none;
}
.nav-header .nav-div .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.nav-header .nav-div .navbar ul li {
  text-align: center;
}
.nav-header .nav-div .navbar ul li a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav-header .nav-div .navbar ul li a:hover {
  color: var(--primary-color);
}
.nav-header .nav-div .nav-mobile {
  margin: 0;
  position: fixed;
  inset: 0 0 0 30%;
  transform: translateX(100%);
  transition: all 350ms ease-out;
  padding: 0 50px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
  background: white;
}
.nav-header .nav-div .nav-mobile[data-visible=true] {
  transform: translateX(0%);
}
.nav-header .nav-div .nav-mobile ul {
  padding-top: 4rem;
}
.nav-header .nav-div .nav-mobile .cross-container {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}
.nav-header .nav-div .nav-mobile .cross-container div {
  width: 42px;
}
.nav-header .svg-btn {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.nav-header .svg-btn svg {
  color: var(--primary-color);
}

.blur {
  filter: blur(5px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (min-width: 600px) {
  .nav-header .nav-div.nav-sm {
    display: none;
  }
  .nav-header .nav-div.nav-lg {
    display: block;
  }
  .nav-header .nav-div .nav-desktop ul {
    flex-direction: row;
  }
}
.main {
  padding-top: 100px;
}
.main .home-section .home-container {
  padding: 8rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.main .home-section .home-container .profile-container {
  margin-top: 3rem;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .home-section .home-container .profile-container img {
  height: 100%;
}
.main .about-section {
  background: var(--primary-color);
}
.main .about-section .about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  color: white;
}
.main .about-section .about-container .about p {
  line-height: 1.5;
}
.main .about-section .about-container .tech {
  margin-top: 2rem;
}
.main .about-section .about-container .tech .skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 150px));
}
.main .about-section .about-container .tech .skill-list .skill {
  position: relative;
  padding: 0.875rem;
}
.main .about-section .about-container .tech .skill-list .skill::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: white;
  font-size: 0.75rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  .main .about-section .about-container .tech .skill-list {
    grid-template-columns: repeat(2, minmax(150px, 200px));
  }
}
@media screen and (min-width: 600px) {
  .main .about-section .about-container {
    flex-direction: row;
  }
  .main .about-section .about-container .tech {
    margin-top: 0;
    margin-left: 3rem;
    padding-left: 3rem;
  }
  .main .about-section .about-container .tech .skill-list {
    grid-template-columns: repeat(1, minmax(200px, 250px));
  }
}
.main .work-section .work-container {
  padding: 8rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
}
.main .work-section .work-container .tab {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}
.main .work-section .work-container .tab .tablinks {
  padding: 1rem 1rem 1rem 1.5rem;
  border: none;
  border-left: 2px solid grey;
  color: var(--primary-color);
  background: none;
  min-width: 10rem;
  text-align: left;
}
.main .work-section .work-container .tab .active {
  background-color: var(--primary-color-bg);
  color: white;
  font-weight: bold;
  border-left-color: var(--primary-color);
}
.main .work-section .work-container .tab-view {
  min-height: 400px;
}
.main .work-section .work-container .tab-view .tab-content h3 {
  margin: 0;
  font-weight: 600;
}
.main .work-section .work-container .tab-view .tab-content h3 span {
  color: var(--primary-color);
}
.main .work-section .work-container .tab-view .tab-content .time {
  margin-top: 0.2rem;
}
.main .work-section .work-container .tab-view .tab-content .experience {
  line-height: 1.5;
}
.main .work-section .work-container .tab-view .tab-content .experience ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.main .work-section .work-container .tab-view .tab-content .experience ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.75rem;
}
.main .work-section .work-container .tab-view .tab-content .experience ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  line-height: 1.5;
}
.main .work-section .work-container .tab-view [data-tab-content] {
  display: none;
}
.main .work-section .work-container .tab-view .active[data-tab-content] {
  display: block;
}
@media screen and (min-width: 600px) {
  .main .work-section .work-container {
    flex-direction: row;
  }
  .main .work-section .work-container .tab {
    flex-direction: column;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}
.main .project-section {
  background: var(--primary-color);
}
.main .project-section .project-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 300px));
  padding: 8rem 4rem;
  gap: 1rem;
  grid-auto-rows: 1fr;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .main .project-section .project-container {
    grid-template-columns: repeat(2, minmax(250px, 300px));
  }
}
@media screen and (min-width: 900px) {
  .main .project-section .project-container {
    grid-template-columns: repeat(3, minmax(250px, 300px));
  }
}
.main .project-section .project-container .proj {
  position: relative;
  padding: 1.5rem;
  background: white;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 250px;
  cursor: pointer;
}
.main .project-section .project-container .proj .proj-icon {
  color: var(--primary-color);
}
.main .project-section .project-container .proj .proj-head {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.main .project-section .project-container .proj .proj-desc {
  margin-top: 0.75rem;
}
.main .project-section .project-container .proj .proj-tech {
  margin-top: 1rem;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 500;
}
.main .project-section .project-container .proj .links {
  display: flex;
  gap: 1rem;
}
.main .project-section .project-container .proj .links a {
  text-decoration: none;
  color: black;
}
.main .project-section .project-container .proj .links a:hover {
  color: var(--primary-color);
}
.main .project-section .project-container .proj:hover .proj-head {
  color: var(--primary-color);
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}/*# sourceMappingURL=style.css.map */