@charset "UTF-8";
:root {
  --primary-color: #3686a0;
  --primary-color-bg: #3686a0cc;
  --nav-scroll-height: 70px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, Arial, Tahoma, Serif;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10%;
}

.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: all 350ms ease;
  background: white;
  z-index: 999;
}
.nav-header.nav-scroll-down {
  height: var(--nav-scroll-height);
  transform: translateY(calc(var(--nav-scroll-height) * -1));
}
.nav-header.nav-scroll-up {
  height: var(--nav-scroll-height);
  transform: translateY(0);
  box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
}
.nav-header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
}
.nav-header .logo-container {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  overflow: hidden;
}
.nav-header .logo-container img {
  height: 100%;
}
.nav-header .nav-div .menu-container {
  width: 42px;
}
.nav-header .nav-div.nav-sm {
  display: block;
}
.nav-header .nav-div.nav-lg {
  display: none;
}
.nav-header .nav-div .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.nav-header .nav-div .navbar ul li {
  text-align: center;
}
.nav-header .nav-div .navbar ul li span {
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav-header .nav-div .navbar ul li span:hover {
  color: var(--primary-color);
}
.nav-header .nav-div .nav-mobile {
  margin: 0;
  position: fixed;
  inset: 0 0 0 30%;
  transform: translateX(100%);
  transition: all 350ms ease-out;
  padding: 0 50px;
  box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
  background: white;
  height: 100vh;
}
.nav-header .nav-div .nav-mobile[data-visible=true] {
  transform: translateX(0%);
}
.nav-header .nav-div .nav-mobile ul {
  padding-top: 4rem;
}
.nav-header .nav-div .nav-mobile .cross-container {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}
.nav-header .nav-div .nav-mobile .cross-container div {
  width: 42px;
}
.nav-header .svg-btn {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.nav-header .svg-btn svg {
  color: var(--primary-color);
}

.blur {
  filter: blur(5px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (min-width: 600px) {
  .nav-header .nav-div.nav-sm {
    display: none;
  }
  .nav-header .nav-div.nav-lg {
    display: block;
  }
  .nav-header .nav-div .nav-desktop ul {
    flex-direction: row;
  }
}
.main {
  padding-top: 100px;
}
.main .home-section .home-container h1 {
  font-size: 1.75rem;
  color: var(--primary-color);
  font-weight: 500;
}
@media screen and (min-width: 600px) {
  .main .home-section .home-container h1 {
    font-size: 3rem;
  }
}
.main .about-section {
  background: var(--primary-color);
}
.main .about-section .about-container {
  margin: 0 auto;
}
.main .about-section .about-container .section-header {
  color: white;
}
.main .about-section .about-container .about-body {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  align-items: center;
}
.main .about-section .about-container .about-body .profile-container {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .about-section .about-container .about-body .profile-container img {
  height: 100%;
}
.main .about-section .about-container .about-body .about {
  padding-top: 2rem;
}
.main .about-section .about-container .about-body .about div {
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .main .about-section .about-container .about-body {
    flex-direction: row;
    align-items: flex-start;
  }
  .main .about-section .about-container .about-body .profile-container {
    flex: 1;
  }
  .main .about-section .about-container .about-body .about {
    flex: 2;
    padding-right: 2rem;
    padding-top: 0;
  }
}
.main .work-section .work-container .work-header {
  color: var(--primary-color);
}
.main .work-section .work-container .work-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .work-section .work-container .work-body .tab {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}
.main .work-section .work-container .work-body .tab .tablinks {
  padding: 1rem 1rem 1rem 1.5rem;
  border: none;
  border-left: 2px solid grey;
  color: var(--primary-color);
  background: none;
  min-width: 8rem;
  text-align: left;
}
.main .work-section .work-container .work-body .tab .active {
  background-color: var(--primary-color-bg);
  color: white;
  font-weight: bold;
  border-left-color: var(--primary-color);
}
.main .work-section .work-container .work-body .tab-view {
  min-height: 400px;
}
.main .work-section .work-container .work-body .tab-view .tab-content h3 {
  margin: 0;
  font-weight: 600;
}
.main .work-section .work-container .work-body .tab-view .tab-content h3 span {
  color: var(--primary-color);
}
.main .work-section .work-container .work-body .tab-view .tab-content .time {
  margin-top: 0.2rem;
}
.main .work-section .work-container .work-body .tab-view .tab-content .experience {
  line-height: 1.5;
}
.main .work-section .work-container .work-body .tab-view .tab-content .experience ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.main .work-section .work-container .work-body .tab-view .tab-content .experience ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.75rem;
}
.main .work-section .work-container .work-body .tab-view .tab-content .experience ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  line-height: 1.5;
}
.main .work-section .work-container .work-body .tab-view [data-tab-content] {
  display: none;
}
.main .work-section .work-container .work-body .tab-view .active[data-tab-content] {
  display: block;
}
@media screen and (min-width: 600px) {
  .main .work-section .work-container .work-body {
    flex-direction: row;
  }
  .main .work-section .work-container .work-body .tab {
    flex-direction: column;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}
.main .project-section {
  background: var(--primary-color);
}
.main .project-section .project-container .project-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  grid-auto-rows: 1fr;
}
.main .project-section .project-container .project-body .proj {
  position: relative;
  padding: 1.5rem;
  background: white;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 250px;
}
.main .project-section .project-container .project-body .proj:hover .proj-icon {
  color: var(--primary-color);
}
.main .project-section .project-container .project-body .proj .proj-head {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.main .project-section .project-container .project-body .proj .proj-desc {
  margin-top: 0.75rem;
}
.main .project-section .project-container .project-body .proj .proj-tech {
  margin-top: 1rem;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 500;
}
.main .project-section .project-container .project-body .proj .links {
  display: flex;
  gap: 1rem;
}
.main .project-section .project-container .project-body .proj .links a {
  text-decoration: none;
  color: black;
}
.main .project-section .project-container .project-body .proj .links a:hover {
  color: var(--primary-color);
}
.main .project-section .project-container .project-body .proj:hover .proj-head {
  color: var(--primary-color);
}
.main .skills-section .skills-container .skills-body {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 5rem;
  grid-template: " node angular ios html" " ionic angular . css" "sql javascript git css" "firebase reactnative git css" ". . android .";
}
.main .skills-section .skills-container .skills-body .html {
  grid-area: html;
}
.main .skills-section .skills-container .skills-body .javascript {
  grid-area: javascript;
}
.main .skills-section .skills-container .skills-body .angular {
  grid-area: angular;
}
.main .skills-section .skills-container .skills-body .ionic {
  grid-area: ionic;
}
.main .skills-section .skills-container .skills-body .node {
  grid-area: node;
}
.main .skills-section .skills-container .skills-body .css {
  grid-area: css;
}
.main .skills-section .skills-container .skills-body .reactnative {
  grid-area: reactnative;
}
.main .skills-section .skills-container .skills-body .ios {
  grid-area: ios;
}
.main .skills-section .skills-container .skills-body .android {
  grid-area: android;
}
.main .skills-section .skills-container .skills-body .git {
  grid-area: git;
}
.main .skills-section .skills-container .skills-body .firebase {
  grid-area: firebase;
}
.main .skills-section .skills-container .skills-body .sql {
  grid-area: sql;
}
.main .skills-section .skills-container .skills-body .skill span {
  cursor: pointer;
  text-shadow: 3px 5px 8px rgba(1, 1, 1, 0.3);
  color: var(--primary-color);
}
.main .skills-section .skills-container .skills-body .skill span {
  padding: 0.5rem;
  background: linear-gradient(#1095c1 0 0) var(--p, 0)/var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}
.main .skills-section .skills-container .skills-body .skill span:hover {
  --p: 100%;
  color: white;
}
@media screen and (min-width: 480px) {
  .main .skills-section .skills-container .skills-body {
    font-size: 8rem;
    gap: 0.75rem;
  }
}
@media screen and (min-width: 600px) {
  .main .skills-section .skills-container .skills-body {
    font-size: 9rem;
    gap: 1rem;
    grid-template: "node node . angular ios html ." "firebase reactnative ionic angular . css ." ". reactnative ionic javascript git css ." ". . ionic sql git css ." ". . ionic . android . .";
  }
}
@media screen and (min-width: 768px) {
  .main .skills-section .skills-container .skills-body {
    font-size: 10rem;
    gap: 1.5rem;
  }
}

.footer {
  background-color: var(--primary-color);
}
.footer .footer-container {
  padding: 5% 10%;
}
.footer .footer-container .footer-header {
  color: white;
}
.footer .footer-container .footer-body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .footer .footer-container .footer-body {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-container .footer-body .form {
    margin-right: 4rem;
  }
  .footer .footer-container .footer-body .links {
    margin-top: 0;
  }
}
.footer .footer-container .footer-body .form {
  flex: 2;
  padding-right: 0;
  color: white;
}
.footer .footer-container .footer-body .form input,
.footer .footer-container .footer-body .form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
}
.footer .footer-container .footer-body .form input:focus,
.footer .footer-container .footer-body .form textarea:focus {
  outline-color: #a1eacd;
}
.footer .footer-container .footer-body .form button {
  background-color: white;
  padding: 1rem 3rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 300ms ease-out;
}
.footer .footer-container .footer-body .form button:hover {
  background: #f48480;
  color: white;
}
.footer .footer-container .footer-body .links {
  flex: 1;
  color: white;
  margin-top: 2rem;
  text-align: center;
}
.footer .footer-container .footer-body .links .icons {
  margin-top: 1rem;
}
.footer .footer-container .footer-body .links .icons a {
  color: white;
  text-decoration: none;
}
.footer .footer-container .footer-body .links .icons a:hover {
  opacity: 0.8;
}
.footer .copyright {
  border-top: 1px solid white;
}
.footer .copyright .max-width {
  max-width: 1280px;
  padding: 1%;
  text-align: center;
  color: white;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}/*# sourceMappingURL=style.css.map */