:root {
	--primary-color: #3686a0;
	--primary-color-bg: #3686a0cc;
	--nav-scroll-height: 70px;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: Verdana, Arial, Tahoma, Serif;
}

.max-width {
	max-width: 1280px;
	margin: 0 auto;
}

.nav-header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	transition: all 350ms ease;
	background: white;

	&.nav-scroll-down {
		height: var(--nav-scroll-height);
		transform: translateY(calc(var(--nav-scroll-height) * -1));
	}

	&.nav-scroll-up {
		height: var(--nav-scroll-height);
		transform: translateY(0);
		box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
	}

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px;
		width: 100%;
	}

	.logo-container {
		height: 42px;
		width: 42px;
		border-radius: 50%;
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	.nav-div {
		.menu-container {
			width: 42px;
		}

		&.nav-sm {
			display: block;
		}

		&.nav-lg {
			display: none;
		}

		.navbar {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				gap: 3rem;
				flex-direction: column;

				li {
					text-align: center;
					a {
						padding: 10px;
						text-decoration: none;
						color: black;

						&:hover {
							color: var(--primary-color);
						}
					}
				}
			}
		}

		.nav-mobile {
			margin: 0;
			position: fixed;
			inset: 0 0 0 30%;
			transform: translateX(100%);
			transition: all 350ms ease-out;
			background-color: red;

			&[data-visible='true'] {
				transform: translateX(0%);
			}
			padding: 0 50px;
			z-index: 999;
			box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
			background: white;

			ul {
				padding-top: 4rem;
			}

			.cross-container {
				display: flex;
				justify-content: flex-end;
				height: 100px;
				align-items: center;

				div {
					width: 42px;
				}
			}
		}
	}

	.svg-btn {
		width: 100%;
		background: none;
		border: none;
		padding: 0;
		margin: 0;

		svg {
			color: var(--primary-color);
		}
	}
}

.blur {
	filter: blur(5px);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	pointer-events: none;
	user-select: none;
}

@media screen and (min-width: 600px) {
	.nav-header {
		.nav-div {
			&.nav-sm {
				display: none;
			}

			&.nav-lg {
				display: block;
			}

			.nav-desktop {
				ul {
					flex-direction: row;
				}
			}
		}
	}
}

.main {
	padding-top: 100px;

	.home-section {
		.home-container {
			padding: 3rem 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;

			.profile-container {
				margin-top: 3rem;
				height: 18rem;
				width: 18rem;
				border-radius: 50%;
				background: var(--primary-color);
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					height: 100%;
				}
			}
		}
	}

	.about-section {
		background: var(--primary-color);

		.about-container {
			max-width: 800px;
			margin: 0 auto;
			padding: 4rem;
			display: flex;
			flex-direction: column;
			color: white;

			.about {
				p {
					line-height: 1.5;
				}
			}

			.tech {
				margin-top: 2rem;

				.skill-list {
					display: grid;
					grid-template-columns: repeat(2, minmax(100px, 150px));

					.skill {
						position: relative;
						padding: 0.875rem;

						&::before {
							content: '▹';
							position: absolute;
							left: 0px;
							color: white;
							font-size: 0.75rem;
							line-height: 1.5;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 480px) {
		.about-section {
			.about-container {
				.tech {
					.skill-list {
						grid-template-columns: repeat(2, minmax(150px, 200px));
					}
				}
			}
		}
	}

	@media screen and (min-width: 600px) {
		.about-section {
			.about-container {
				flex-direction: row;

				.tech {
					margin-top: 0;
					margin-left: 3rem;
					padding-left: 3rem;

					.skill-list {
						grid-template-columns: repeat(1, minmax(200px, 250px));
					}
				}
			}
		}
	}

	.work-section {
		.work-container {
			padding: 4rem;
			display: flex;
			justify-content: center;
			flex-direction: column;
			max-width: 700px;

			.tab {
				margin-bottom: 1.5rem;
				display: flex;
				flex-direction: row;

				.tablinks {
					padding: 1rem 1rem 1rem 1.5rem;
					border: none;
					border-left: 2px solid grey;
					color: var(--primary-color);
					background: none;
					min-width: 8rem;
					text-align: left;
				}

				.active {
					background-color: var(--primary-color-bg);
					color: white;
					font-weight: bold;
					border-left-color: var(--primary-color);
				}
			}

			.tab-view {
				.tab-content {
					h3 {
						margin: 0;
						font-weight: 600;

						span {
							color: var(--primary-color);
						}
					}

					.time {
						margin-top: 0.2rem;
					}

					.experience {
						line-height: 1.5;

						ul {
							margin: 0;
							padding-left: 0;
							list-style: none;

							li {
								position: relative;
								padding-left: 2rem;
								margin-bottom: 0.75rem;

								&::before {
									content: '▹';
									position: absolute;
									left: 0px;
									line-height: 1.5;
								}
							}
						}
					}
				}

				[data-tab-content] {
					display: none;
				}

				.active[data-tab-content] {
					display: block;
				}
			}
		}
	}

	@media screen and (min-width: 600px) {
		.work-section {
			.work-container {
				flex-direction: row;

				.tab {
					flex-direction: column;
					margin-right: 1.5rem;
					margin-bottom: 0;
				}
			}
		}
	}
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
