:root {
	--primary-color: #3686a0;
	--primary-color-bg: #3686a0cc;
	--nav-scroll-height: 70px;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: Verdana, Arial, Tahoma, Serif;
}

.max-width {
	max-width: 1280px;
	margin: 0 auto;
	padding: 10%;
}

.nav-header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	transition: all 350ms ease;
	background: white;
	z-index: 999;

	&.nav-scroll-down {
		height: var(--nav-scroll-height);
		transform: translateY(calc(var(--nav-scroll-height) * -1));
	}

	&.nav-scroll-up {
		height: var(--nav-scroll-height);
		transform: translateY(0);
		box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
	}

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px;
		width: 100%;
	}

	.logo-container {
		height: 42px;
		width: 42px;
		border-radius: 50%;
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	.nav-div {
		.menu-container {
			width: 42px;
		}

		&.nav-sm {
			display: block;
		}

		&.nav-lg {
			display: none;
		}

		.navbar {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				gap: 3rem;
				flex-direction: column;

				li {
					text-align: center;
					span {
						cursor: pointer;
						padding: 10px;
						text-decoration: none;
						color: black;

						&:hover {
							color: var(--primary-color);
						}
					}
				}
			}
		}

		.nav-mobile {
			margin: 0;
			position: fixed;
			inset: 0 0 0 30%;
			transform: translateX(100%);
			transition: all 350ms ease-out;
			padding: 0 50px;
			box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 30px -15px;
			background: white;
			height: 100vh;

			&[data-visible='true'] {
				transform: translateX(0%);
			}

			ul {
				padding-top: 4rem;
			}

			.cross-container {
				display: flex;
				justify-content: flex-end;
				height: 100px;
				align-items: center;

				div {
					width: 42px;
				}
			}
		}
	}

	.svg-btn {
		width: 100%;
		background: none;
		border: none;
		padding: 0;
		margin: 0;

		svg {
			color: var(--primary-color);
		}
	}
}

.blur {
	filter: blur(5px);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	pointer-events: none;
	user-select: none;
}

@media screen and (min-width: 600px) {
	.nav-header {
		.nav-div {
			&.nav-sm {
				display: none;
			}

			&.nav-lg {
				display: block;
			}

			.nav-desktop {
				ul {
					flex-direction: row;
				}
			}
		}
	}
}

.main {
	padding-top: 100px;

	.home-section {
		.home-container {
			h1 {
				font-size: 1.75rem;
				color: var(--primary-color);
				font-weight: 500;
			}
		}
	}

	@media screen and (min-width: 600px) {
		.home-section {
			.home-container {
				h1 {
					font-size: 3rem;
				}
			}
		}
	}

	.about-section {
		background: var(--primary-color);

		.about-container {
			margin: 0 auto;

			.section-header {
				color: white;
			}

			.about-body {
				display: flex;
				flex-direction: column-reverse;
				color: white;
				align-items: center;

				.profile-container {
					height: 18rem;
					width: 18rem;
					border-radius: 50%;
					background: white;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						height: 100%;
					}
				}

				.about {
					padding-top: 2rem;
					div {
						line-height: 1.5;
					}
				}
			}
		}
	}

	@media screen and (min-width: 600px) {
		.about-section {
			.about-container {
				.about-body {
					flex-direction: row;
					align-items: flex-start;

					.profile-container {
						flex: 1;
					}

					.about {
						flex: 2;
						padding-right: 2rem;
						padding-top: 0;
					}
				}
			}
		}
	}

	.work-section {
		.work-container {
			.work-header {
				color: var(--primary-color);
			}

			.work-body {
				display: flex;
				justify-content: center;
				flex-direction: column;

				.tab {
					margin-bottom: 1.5rem;
					display: flex;
					flex-direction: row;

					.tablinks {
						padding: 1rem 1rem 1rem 1.5rem;
						border: none;
						border-left: 2px solid grey;
						color: var(--primary-color);
						background: none;
						min-width: 8rem;
						text-align: left;
					}

					.active {
						background-color: var(--primary-color-bg);
						color: white;
						font-weight: bold;
						border-left-color: var(--primary-color);
					}
				}

				.tab-view {
					min-height: 400px;

					.tab-content {
						h3 {
							margin: 0;
							font-weight: 600;

							span {
								color: var(--primary-color);
							}
						}

						.time {
							margin-top: 0.2rem;
						}

						.experience {
							line-height: 1.5;

							ul {
								margin: 0;
								padding-left: 0;
								list-style: none;

								li {
									position: relative;
									padding-left: 2rem;
									margin-bottom: 0.75rem;

									&::before {
										content: '▹';
										position: absolute;
										left: 0px;
										line-height: 1.5;
									}
								}
							}
						}
					}

					[data-tab-content] {
						display: none;
					}

					.active[data-tab-content] {
						display: block;
					}
				}
			}
		}
	}

	@media screen and (min-width: 600px) {
		.work-section {
			.work-container {
				.work-body {
					flex-direction: row;

					.tab {
						flex-direction: column;
						margin-right: 4rem;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.project-section {
		background: var(--primary-color);

		.project-container {
			.project-body {
				display: grid;
				grid-template-columns: repeat(1, minmax(250px, 300px));
				gap: 1rem;
				grid-auto-rows: 1fr;
				// justify-content: center;

				@media screen and (min-width: 600px) {
					grid-template-columns: repeat(2, minmax(250px, 300px));
				}

				@media screen and (min-width: 900px) {
					grid-template-columns: repeat(3, minmax(250px, 300px));
				}

				.proj {
					position: relative;
					padding: 1.5rem;
					background: white;
					border-radius: 0.75rem;
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					min-height: 250px;
					cursor: pointer;

					.proj-icon {
						color: var(--primary-color);
					}

					.proj-head {
						margin-top: 1rem;
						font-weight: bold;
						font-size: 1.25rem;
					}

					.proj-desc {
						margin-top: 0.75rem;
					}

					.proj-tech {
						margin-top: 1rem;
						font-size: 0.75rem;
						font-style: italic;
						font-weight: 500;
					}

					.links {
						display: flex;
						gap: 1rem;

						a {
							text-decoration: none;
							color: black;
						}

						a:hover {
							color: var(--primary-color);
						}
					}

					&:hover {
						.proj-head {
							color: var(--primary-color);
						}
					}
				}
			}
		}
	}

	.skills-section {
		.skills-container {
			.skills-body {
				display: grid;
				text-align: center;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				font-size: 5rem;
				grid-template:
					' node angular ios html'
					' ionic angular . css'
					'sql javascript git css'
					'firebase reactnative git css'
					'. . android .';

				.html {
					grid-area: html;
				}
				.javascript {
					grid-area: javascript;
				}
				.angular {
					grid-area: angular;
				}
				.ionic {
					grid-area: ionic;
				}
				.node {
					grid-area: node;
				}
				.css {
					grid-area: css;
				}
				.reactnative {
					grid-area: reactnative;
				}
				.ios {
					grid-area: ios;
				}
				.android {
					grid-area: android;
				}
				.git {
					grid-area: git;
				}
				.firebase {
					grid-area: firebase;
				}
				.sql {
					grid-area: sql;
				}

				.skill span {
					cursor: pointer;
					text-shadow: 3px 5px 8px rgba(1, 1, 1, 0.3);
					color: var(--primary-color);
				}

				.skill span {
					padding: 0.5rem;
					background: linear-gradient(#1095c1 0 0) var(--p, 0) / var(--p, 0) no-repeat;
					transition: 0.4s, background-position 0s;
				}

				.skill span:hover {
					--p: 100%;
					color: white;
				}
			}

			@media screen and (min-width: 480px) {
				.skills-body {
					font-size: 8rem;
					gap: 0.75rem;
				}
			}

			@media screen and (min-width: 600px) {
				.skills-body {
					font-size: 9rem;
					gap: 1rem;
					grid-template:
						'node node . angular ios html .'
						'firebase reactnative ionic angular . css .'
						'. reactnative ionic javascript git css .'
						'. . ionic sql git css .'
						'. . ionic . android . .';
				}
			}

			@media screen and (min-width: 768px) {
				.skills-body {
					font-size: 10rem;
					gap: 1.5rem;
				}
			}
		}
	}
}

.footer {
	background-color: var(--primary-color);

	.footer-container {
		padding: 5% 10%;
		.footer-header {
			color: white;
		}

		.footer-body {
			display: flex;
			flex-direction: column;
			
			@media screen and (min-width: 600px) {
				flex-direction: row;
				align-items: center;
				justify-content: center;

				.form {
					margin-right: 4rem;
				}

				.links {
					margin-top: 0;
				}
			}

			.form {
				flex: 2;
				padding-right: 0;
				color: white;

				input,
				textarea {
					width: 100%;
					padding: 12px 20px;
					margin: 8px 0;
					display: block;
					border: 1px solid #fff;
					border-radius: 4px;
					box-sizing: border-box;

					&:focus {
						outline-color: #a1eacd;
					}
				}

				button {
					background-color: white;
					padding: 1rem 3rem;
					margin: 0.75rem 0;
					border: none;
					border-radius: 4px;
					cursor: pointer;
					font-size: 18px;
					font-weight: 600;
					transition: all 300ms ease-out;
				}

				button:hover {
					background: #f48480;
					color: white;
				}
			}

			.links {
				flex: 1;
				color: white;
				margin-top: 2rem;
				text-align: center;
				.icons {
					margin-top: 1rem;

					a {
						color: white;
						text-decoration: none;

						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}

	.copyright {
		border-top: 1px solid white;

		.max-width {
			max-width: 1280px;
			padding: 1%;
			text-align: center;
			color: white;
		}
	}
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
