<div class="max-w-screen-xl mx-auto min-h-screen flex items-center">
	<div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2 p-12">
		<div class="relative flex justify-center">
			<img
				src="/images/profile.png"
				class="w-full md:max-w-md lg:max-w-md"
				alt="Astro Resume Theme - Paul Smith"
				width="500"
				height="500"
				loading="lazy"
				decoding="async"
			/>
		</div>
		<div class="text-text-primary">
			<h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl">Hello World! I'm Susom</h1>
			<p class="text-lg text-offset text-text-secondary mt-3">Software Engineer</p>
			<p class="mt-5 text-base sm:text-lg">
				Full Stack Developer passionate about building innovative web apps. Skilled in front-end and
				back-end development, creating fast, user-friendly solutions that make an impact.
			</p>
			<div class="mt-10 sm:flex sm:items-center sm:space-x-8">
				<a
					href="/files/susom_cv.pdf"
					title="Download CV"
					download=""
					class="inline-flex items-center justify-center px-10 py-4 text-base text-text-on-accent
                  font-semibold transition-all duration-200 rounded
                  bg-accent-primary hover:bg-accent-primary/70 focus:bg-accent-primary/70"
					role="button">
					Download CV
				</a>
			</div>
		</div>
	</div>
</div>
