---
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="bg-background fixed w-full z-[1000] top-0 start-0 border-b border-border">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-2">
		<!-- logo svg -->
		<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
			<svg
				class="text-text-primary"
				xmlns="http://www.w3.org/2000/svg"
				width="50"
				height="50"
				viewBox="0 0 500 500">
				<path
					fill="currentColor"
					d="m284.188 59.938 2.36.474c4.548.967 8.356 2.295 12.452 4.588l-6 11c-4.882-.488-9.531-1.328-14.312-2.437-46.142-10.036-95.465-.174-135.079 25.203-7.796 5.151-14.814 10.81-21.609 17.234a720 720 0 0 1-3.875 3.25c-32.497 28.5-52.348 72.544-55.75 115.209-.201 3.18-.298 6.357-.375 9.541l-.121 3.684C61.247 282.786 71.113 321.67 92 350.25c2 2.75 2 2.75 2 4.75h17l-2.09-2.91c-24.658-35.483-33.603-83.506-26.453-125.79 8.123-44.369 28.85-87.108 66.498-113.68C163.181 103.032 180.582 92.025 198 91c-1.417 4.075-3.375 7.088-6 10.5l-1.193 1.573a287 287 0 0 1-6.342 8.036c-23.585 29.101-25.526 63.946-21.829 99.803 4.063 34.487 16.14 66.974 43.427 89.4A321 321 0 0 0 211 304l2.977 2.234C225.92 314.894 238.569 320.731 253 324l2.228.551c14.797 3.554 29.509 3.85 44.647 3.887l2.904.018c29.23.121 57.674-6.05 82.188-22.662 4.126-2.684 7.141-3.638 12.033-2.794 2.152 2.02 2.152 2.02 3 5-.983 2.87-1.973 5.081-3.437 7.688-.379.71-.757 1.422-1.146 2.155a255 255 0 0 1-7.987 13.798c-1.573 2.595-3.003 5.244-4.43 7.921-2.707 5.028-5.74 9.755-9 14.438 5.33.824 10.749 1.587 16 0 3.79-3.477 5.841-7.32 8.022-11.934.969-2.047 2.011-4.036 3.083-6.03 21.607-40.778 27.456-89.316 14.567-133.821-.952-4.553-.44-6.897 1.887-10.89l1.878-2.637 1.872-2.676L423 184h2c2.973 9.26 5.887 18.497 8 28l.486 2.158c1.404 6.548 2.118 13.046 2.639 19.717l.262 3.027a183 183 0 0 1-.2 32.036l-.267 2.894c-.722 7.242-2.05 14.134-3.92 21.168q-.726 3.28-1.437 6.563C425.687 320.579 416.028 340.177 404 358l-1.143 1.722a797 797 0 0 1-3.67 5.466l-1.167 1.75c-.955 1.391-1.982 2.732-3.02 4.062h-2l-.875 1.813C391 375 391 375 389 378h-2l-.8 1.784c-1.244 2.297-2.55 3.824-4.387 5.67l-1.868 1.874L378 389.25l-1.945 1.969-1.868 1.86-1.707 1.7C371 396 371 396 369 396v2c-13.156 12.078-29.806 21.65-46 29l-3.945 1.86c-13.716 6.352-27.916 10.394-42.833 12.775-1.64.27-3.275.567-4.907.88-9.15 1.633-18.132 1.824-27.397 1.8-2.584-.002-5.168.021-7.752.046-15.58.061-30.36-2.167-45.353-6.423l-3.168-.897c-27.668-8.17-54.161-22.543-75.032-42.568a93 93 0 0 0-5.945-5.164L104 387v-2h-2a174 174 0 0 1-4-5l-2.25-2.187C94 376 94 376 94 374h-2a94 94 0 0 1-4.125-5.375l-2.195-3.023C84 363 84 363 84 361h-2a112 112 0 0 1-4.5-7.187l-1.335-2.309c-15.606-27.435-27.112-58.02-27.403-89.918l-.03-2.679C48.416 223.04 48.416 223.04 53 206l1.285-5.23C64.201 162.155 87.773 123.17 120 99h2v-2c5.412-4 5.412-4 8-4v-2l2.781-1.574c7.88-4.45 7.88-4.45 15.594-9.176 3.751-2.377 7.616-4.347 11.625-6.25l2.938-1.441C170.47 68.946 177.954 66.227 186 64l3.73-1.062c12.91-3.58 25.926-5.88 39.329-6.325l2.265-.077q2.362-.078 4.727-.149c2.35-.073 4.699-.165 7.049-.256 13.955-.47 27.426.83 41.088 3.807M103 366l6 7 1.75 2.438L112 377h2l.621 1.656c1.915 3.255 4.584 5.443 7.442 7.844l1.883 1.586c40.244 33.382 87.173 45.883 138.835 42.672 3.795-.39 7.49-.976 11.219-1.758l2.57-.522C297.803 424.019 318.68 416.79 337 405l3.117-1.957c14.58-9.404 31.845-21.98 40.883-37.043z"
				></path>
				<path
					fill="currentColor"
					d="M347.313 76.063C353.279 82.584 355.296 90.24 355 99c-1.328 9.182-4.918 16.376-10 24h-2v2c-3.853 3.027-7.038 4.89-12 5-1.875-1.437-1.875-1.437-3-3l2.063-1.875c6.926-7.005 11.045-14.78 13.937-24.125l1-3c.398-5.965-.151-9.724-3-15-4.295-2.863-7.962-2.705-13-2-8.75 3.22-13.953 11.442-17.812 19.5-4.743 11.263-6.636 24.796-2.188 36.5 3.679 7.712 7.78 15.124 12.773 22.07 1.41 2.217 2.317 4.472 3.227 6.93l3.41-.48c17.605-2.177 36.159-1.012 51.59 8.48l1.945 1.148c7.606 4.906 12.152 12.08 14.055 20.852 1.496 8.11 1.224 13.821-3 21h-2v2l-6 3c-1.063-3.189-1.005-5.23-.875-8.562.049-10.099-2.921-17.536-9.125-25.438l-1.453-1.871C367.915 179.743 358.389 174.668 350 173a93 93 0 0 0-4.984-.098l-2.832.01-2.934.025-2.98.014q-3.636.018-7.27.049l2 3c4.007 13.277 4.892 28.134-1.395 40.813-7.1 12.08-16.946 20.577-30.472 24.765-7.424 1.469-15.393 1.325-22.192-2.168-4.33-3.145-7.26-7.369-8.941-12.41-1.23-15.33 3.297-26.334 12.938-37.937 6.724-7.3 15.498-13.276 25.062-16.063l-1.022-1.37c-11.515-15.548-20.376-30.865-17.513-50.88 3.08-16.618 11.85-30.707 25.535-40.75 10.977-6.684 22.61-11.224 34.313-3.937M286.93 193.012c-7.367 7.59-11.987 15.965-12.43 26.738.215 5.179 1.337 8.146 4.5 12.25 5.437 3.95 10.508 3.736 17 3 7.471-2.038 13.765-6.236 17.73-12.914 5.33-10.407 6.875-18.354 3.52-29.774-1.604-4.847-3.468-9.04-6.25-13.312-8.675 0-17.931 8.221-24.07 14.012M126 133l1 2c-.63.81-1.258 1.622-1.906 2.457C119.604 144.552 114.23 151.71 109 159l-2-1c6.027-8.619 12.208-16.96 19-25M419 190l1 3-2 3c-.24 2.057-.24 2.057-.125 4.188L418 204l2 1v9h-1a721 721 0 0 1-2.062-7.187c-.3-1.01-.3-1.01-.604-2.042-1.096-3.94-1.64-6.853-.334-10.771 1.563-2.312 1.563-2.312 3-4M397 303c1.938 2.5 1.938 2.5 3 5l-2 2-1-5c-4.03.553-8.02 1.156-12 2 3.923-3.804 6.536-4.91 12-4M190 101l2 1-9 11-1-3c2.092-3.487 5.1-6.179 8-9M81 163h2c-1.492 4.972-3.605 9.418-6 14-.582-1.848-.582-1.848-1-4 1.313-2.437 1.313-2.437 3-5a123 123 0 0 0 2-5"
				></path>
				<path
					fill="currentColor"
					d="M385 208h1v11l4-1-4 4-2-1zM193 91h5c-1.312 3.937-2.92 6.227-6 9l1-5h2v-3zM185 96l-2 2h-2c-1.625 1.458-1.625 1.458-3 3l-3-3c6.625-3.125 6.625-3.125 10-2M359 321c-3.334 2.191-6.042 3.435-10 4l-1-2q2.183-.794 4.375-1.562l2.46-.88C357 320 357 320 359 321M413 339l1 2c-.996 2.164-.996 2.164-2.437 4.625l-1.434 2.477L409 350c-1-3-1-3-.004-5.043l1.442-2.144 1.433-2.168zM325 76c-5.75 3.875-5.75 3.875-8 5l-2-2c6.625-4.125 6.625-4.125 10-3M186 282l6 5h-6l-2-2zM132 127l1 4h-2v2l-4-1z"
				></path>
			</svg>
		</a>
		<div class="flex item-center gap-2 md:hidden">
			<!-- mobile theme toggle -->
			<button
				data-theme-toggle
				type="button"
				class="flex items-center w-10 h-10 justify-center text-xs font-medium text-text-primary bg-background border border-border rounded-lg hover:bg-border focus:z-10 focus:ring-2 focus:ring-border">
				<svg
					data-theme-icon="dark"
					class="w-3.5 h-3.5 hidden"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					viewBox="0 0 18 20">
					<path
						d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
					></path>
				</svg>
				<svg
					data-theme-icon="light"
					class="w-3.5 h-3.5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					viewBox="0 0 20 20">
					<path
						d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
					></path>
				</svg>
				<span class="sr-only">Toggle dark/light mode</span>
			</button>
			<!-- mobile menu toggle button -->
			<button
				data-menu-toggle
				type="button"
				class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-text-primary rounded-lg md:hidden hover:bg-border focus:outline-none focus:ring-2 focus:ring-border"
				aria-controls="navbar-sticky"
				aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg
					class="w-5 h-5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 17 14">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 1h15M1 7h15M1 13h15"></path>
				</svg>
			</button>
		</div>
		<div
			class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
			id="navbar-menu">
			<ul
				class="flex flex-col items-center p-4 md:p-0 mt-4 font-medium bg-background md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
				<li>
					<a
						href="/"
						class={`block py-2 px-3 rounded md:p-0 relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-text-primary after:transition-transform after:duration-300 after:ease-in-out ${pathname === '/' ? 'text-text-primary after:scale-x-100' : 'text-text-secondary after:origin-bottom-right after:scale-x-0 hover:text-text-primary hover:after:origin-bottom-left hover:after:scale-x-100'}`}>
						About
					</a>
				</li>
				<li>
					<a
						href="/blogs"
						class={`block py-2 px-3 rounded md:p-0 relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-text-primary after:transition-transform after:duration-300 after:ease-in-out ${pathname === '/blogs/' || pathname === '/blogs' ? 'text-text-primary after:scale-x-100' : 'text-text-secondary after:origin-bottom-right after:scale-x-0 hover:text-text-primary hover:after:origin-bottom-left hover:after:scale-x-100'}`}>
						Blog
					</a>
				</li>
				<li class="hidden md:block">
					<button
						data-theme-toggle
						type="button"
						class="flex items-center w-10 h-10 justify-center text-xs font-medium text-text-primary bg-background border border-border rounded-lg hover:bg-border focus:z-10 focus:ring-2 focus:ring-border">
						<svg
							data-theme-icon="dark"
							class="w-3.5 h-3.5 hidden"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 18 20">
							<path
								d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
							></path>
						</svg>
						<svg
							data-theme-icon="light"
							class="w-3.5 h-3.5"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20">
							<path
								d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
							></path>
						</svg>
						<span class="sr-only">Toggle dark/light mode</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
	// Get the button and menu elements
	const menuButton = document.querySelector('[data-menu-toggle]');
	const menu = document.getElementById('navbar-menu');

	// Add click event listener to toggle menu
	menuButton?.addEventListener('click', () => {
		// Toggle the 'hidden' class
		menu?.classList.toggle('hidden');

		// Update aria-expanded attribute
		const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
		menuButton.setAttribute('aria-expanded', (!isExpanded).toString());
	});

	// Theme toggle functionality
	const themeToggleDarkIcon = document.querySelectorAll('[data-theme-icon="dark"]');
	const themeToggleLightIcon = document.querySelectorAll('[data-theme-icon="light"]');
	const themeToggleBtn = document.querySelectorAll('[data-theme-toggle]');

	// Set initial theme based on localStorage
	if (localStorage.getItem('color-theme') === 'dark') {
		themeToggleLightIcon.forEach((icon) => icon.classList.add('hidden'));
		themeToggleDarkIcon.forEach((icon) => icon.classList.remove('hidden'));
		document.documentElement.classList.add('dark');
	} else {
		themeToggleDarkIcon.forEach((icon) => icon.classList.add('hidden'));
		themeToggleLightIcon.forEach((icon) => icon.classList.remove('hidden'));
		document.documentElement.classList.remove('dark');
	}

	themeToggleBtn.forEach((btn) => {
		btn.addEventListener('click', () => {
			// Toggle icons
			themeToggleDarkIcon.forEach((icon) => icon.classList.toggle('hidden'));
			themeToggleLightIcon.forEach((icon) => icon.classList.toggle('hidden'));

			// Toggle theme
			if (document.documentElement.classList.contains('dark')) {
				document.documentElement.classList.remove('dark');
				localStorage.setItem('color-theme', 'light');
			} else {
				document.documentElement.classList.add('dark');
				localStorage.setItem('color-theme', 'dark');
			}
		});
	});
</script>
